*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;   
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #ada8a8;
    padding: 20px 0;
}


.nav{
    display: flex;
    list-style: none;
}
.nav > li{
    margin-left: 15px;
}
.nav > li:first-child{
    margin-left: 0px;
}

.main{
  
    background-image: url('./img/photo.jpg');
    background-size: cover;
    background-attachment: fixed;
}

h1{
    padding-top: 30px;
    text-align: center;
}

.title{
    text-align: center;
}
.description{
    text-align: center;

}
  




.testform{
   height: 500px;
}


.testform>form{
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    
    height: 280px;
    justify-content:space-around ;
}
.testform p{
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 20px;
    }

.testform textarea {
height: 100px;
resize: none;
 }

.testform input::placeholder{
 text-align: center;

}

.testform input,button , select{
    height: 30px;
    padding:0  10px;
border-radius: 3px;
border: 1px solid rgb(94, 31, 31);
}

.testform button{
    background-color: crimson;
    color: #fff;
    font-size: 700;
    text-transform: uppercase;
    
}
.testform button:active{
    background-color: crimson;
    box-shadow: 5px 10px 1px #000;
}







.footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100px;
    background-color: #ada8a8;
}


@media screen and (max-width: 375px) {
    .header{
        flex-direction: column;
        align-items: center;

    }
    .nav{
        padding-top: 20px;    }
}