*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;   
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #ada8a8;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}


.nav{
    display: flex;
    list-style: none;
}
.nav > li{
    margin-left: 15px;
}
.nav > li:first-child{
    margin-left: 0px;
}

.nav > li > a{
    text-decoration: none;
    /* transition: all .2s ease-in-out; */
    transition-property: color, font-size, border-bottom;
    transition-duration:  1s, .2s;
    transition-timing-function: ease;
    color: #000; 
}

.nav >li:first-child{
    margin-left: 0px;
}

.nav > li > a:hover {
    color: #ec1a3b;
    font-size: 20px;
    border-bottom: 2px solid red;
}

.nav > li > a:active{
    color: #cdcdcd;
    border-bottom: 2px solid #cdcdcd;
    transition: all .2s ease;


}


.main{
    padding-top: 160px;
    height: 2500px;
    background-image: url(./image/cosmos.jpg);
    background-size: cover;
    background-attachment: fixed;
}

h1{
    padding-top: 30px;
    text-align: center;
}

.title{
    text-align: center;
}

.description{
    text-align: center;
}

.formclass > form{
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 200px;
    height: 250px;
    justify-content: space-around;
}

.formclass p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
}

.formclass textarea{
    height: 100px;
    resize: none;
}
.formclass input::placeholder{
    text-align: center;
}

.formclass input, button, select{
    height: 30px;
    padding: 0 10px;
    border-radius: 3px;
    border: 1px solid #ada8a8;
}

.formclass button{
    background-color: #ec1a3b;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

.formclass button:active{
    background-color: aqua;
    box-shadow: 5px 5px 10px 5px ;
}

.animation{
    position: relative;
    height: 300px;
}

.ball{
    width: 100px;
    height: 100px;
    background-color: aqua;
    border-radius: 50%;
    position: absolute;
    animation: ball;
    animation-duration: 5s;
}

@keyframes ball {
   0%{
       left: 0;
   }
   25%{
       top: 50px;
   }
   50%{
       background-color: coral;
       top: 100px;
   }
   75%{
       top: 50px;
   }
   100%{
       left:calc(100vw - 105px);
   }
}   


.footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    height: 100px;
    background-color: #ada8a8;
}

.copyright{
}

@media screen and (max-width: 375px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
.nav {
    padding-top: 20px;
 }
}
